/* .menu {
    height: 45px;
    background: #0a0a23;
    list-style-type: none;
    text-decoration: none;
}
a:hover {color:red;}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  } */
  body{
    background-color: #f6f6f6;
  }
  #nav {
    background: #0a0a23;
  }
  #navbar{
    background: white;
  }
  .flex-column{
    color: black;
  }
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  ul li.btn_logout {
    float:right;
  }
  li {
    float: left;
  }
  
  #nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  #navbar li a {
    color: black;
    display: block;
    text-decoration: none;
    padding: 14px 16px;
  }
  #navbar li a p {
    margin: 0;
  }

  li a:hover {
    background-color: orange;
  }
  /* #chaomung {
    margin-top: 45px;
    width: 95%;
  } */
  #meo {
    background-color: #e1f1ff;
    padding: 0;
    height: 300px;
  }
  div.container.px-4 {
    padding: 0;
  }
  div.col{
    padding:0;
    padding-right: 10px;
  }
  #sodu{
    margin-top: 15px;
    height: 263px;
    background-color: white;
  }
  #tinhtrang.image{
    text-align: center;
  }
  #tinhtrang{
    height: 550px;
  }
  #qlvl{
    text-align: center;
  }
  #nkcv{
    text-align: center;
  }
  div#tinhtrang.col{
    padding: 0;
  }
  #tinhtrangcongviec{
    background-color: white;
    margin-top: 20px;
    height: 260px;
  }
  #ttcv div div p {
    margin: 0;
  } 
  #navbar{
    max-width: 77%;
    height: 100%;
  }